.display_CPU{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.test {
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: bold;
    color: #5a975a;
}
.common-p {
    border-radius: 6px;
    width: 40px;
    height: 12px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 1px rgb(255, 238, 205);
}
span{
    font-weight: 200;
}