* {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a,
i {
    display: inline-block;
    vertical-align: middle;
}

span {
    vertical-align: middle;
    margin-left: 8px;
}

img {
    vertical-align: middle;
}


.nav_container {
    background-color: rgb(27, 27, 27);
    padding-top: 8px;
    height: 100vh;
}

.nav {
    padding: 0;
    list-style-type: none;

}

.sub_nav {
    list-style-type: none;
    padding-inline-start: 0px;
}

.nav_fields {
    text-decoration: none;
    color: rgb(138, 138, 138);
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-left: 25px;
    margin-top: 30px;
}

.nav_fields.nav_fields_last {
    margin-top: 45px;
}

.nav_opts {
    display: block;
    width: 220px;
    text-decoration: none;
    color: rgb(138, 138, 138);
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 0px 8px;
    padding: 12px 8px 12px 20px;
}

.nav_opts:hover,
.nav_opts.active {
    background-color: rgba(32, 54, 43, 255);
    color: rgba(0, 156, 73, 255);
    border-radius: 8px;
}